@import "src/app/stylesheet/1-helper/1-helper";

:host {
  margin-top: auto;
  margin-bottom: ratio(0.3);
}

.footer {
  color: var(--btn-effect);
  text-transform: uppercase;
  text-decoration: underline;
}
