@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-size: var(--font-size-1);
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: var(--font-color);
}

h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}

.font-half {
  font-size: ratio(0.5);
}
