<app-article>
  <app-title>PREMIUM PERFORMANCE</app-title>
  <app-content>
    <dl>
      <dt>
        Surrounding the Ninja H2™R motorcycle’s high-output engine are a
        multitude of premium, high-performance components, selected specifically
        for unmatchable performance at track speeds.
      </dt>
      <dd>
        Commonly found in high-performance racing machines, the dog-ring
        transmission allows for effortless, short shifts
      </dd>
      <dd>
        Remote shock preload adjuster makes it easy to adjust settings without
        tools to suit rider preference
      </dd>
      <dd>
        <span>NEW</span> for 2019, dual radial-mount, opposed 4-piston Brembo
        Stylema® front calipers grip semi-floating 330mm discs for aggressive
        braking
      </dd>
      <dd>
        The star-pattern 5-spoke wheels offer optimum rigidity for high-power
        performance
      </dd>
    </dl>
    ​</app-content
  >
  <app-footer>
    LEARN MORE
  </app-footer>
</app-article>
