<app-article>
  <app-title>NINJA H2™R</app-title>
  <app-sub-title>MSRP $55,000</app-sub-title>
  <app-content>
    The Kawasaki Ninja H2™R hypersport motorcycle is an engineering marvel, made
    possible only through the sourcing of technological expertise from multiple
    divisions of Kawasaki Heavy Industries, Ltd. (KHI). The result of this
    unprecedented collaboration is a system of carefully crafted premium
    components and World Superbike racing inspired next-level electronics that
    work in concert to create an unbelievably powerful machine—one that’s more
    than worthy of the legendary H2 name. ​</app-content
  >
  <app-footer>
    LEARN MORE
  </app-footer>
</app-article>
