@import "src/app/stylesheet/1-helper/1-helper";

:host {
  display: block;
  position: relative;
}

//common properties for app-nav and app-content
:host > app-navbar,
:host ::ng-deep > app-content > router-outlet ~ * {
  padding-left: 5vw;
  padding-right: 5vw;
}

app-navbar {
  z-index: 10;
  position: absolute;
  top: 0;
  transform: translateY(50%);
}

app-content {
  position: relative;
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

app-aside {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  user-select: none;
  pointer-events: none;
}
